*{
    margin: 0;
}
#menu_project{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    width: 960px;
    height: 40px;
    background: mediumaquamarine;
    border-bottom: 2px solid green;
    margin: 30px auto;
}

#menu_project li{
    float: left;
    position: relative;
 /* border-right: 2px solid yellow; */
}
#menu_project li a:hover{
    background: blue;
    color: white;
}

#menu_project li:last-child{
    border-right: none 
}
#menu_project li a{
    text-decoration: none;
    color: maroon; 
    background: mediumaquamarine;
    padding: 10px 25px;
    display: block;
    transition: all 1s ease;
}

#menu_project li ul {
    position: absolute;
    list-style-type: none;
    padding:0;
    left: 99999999999px;
}

#menu_project li ul li{
    float:none;
    border-right: none;
    border-bottom: 2px solid yellow;  
    
}
#menu_project li:hover ul{
    left:0;
}

.box{
    width: 500px;
    height: 300px;
    background: red;
}

/* .box h2{
    position: absolute;
    right: 0;
} */